#photo-frame {
  position: relative;
}
#photo-frame.is-loading::after {
  content: "Loading...";
  font-size: 50px;
  position: absolute;
  top: 0;
  left: 0;
}
#photo-frame img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
}

.thumb {
  width: 160px;
  height: 90px;
  border: 1px solid black;
  display: inline-block;
  background-color: brown;
}
